WebPrueba/Connected Services/TarjetaServiceReference/TarjetaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TarjetaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49799/TarjetaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49799/TarjetaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITarjetaService_ExisteTarjeta_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteTarjeta" />
  </wsdl:message>
  <wsdl:message name="ITarjetaService_ExisteTarjeta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteTarjetaResponse" />
  </wsdl:message>
  <wsdl:message name="ITarjetaService_EsValidaTarjeta_InputMessage">
    <wsdl:part name="parameters" element="tns:EsValidaTarjeta" />
  </wsdl:message>
  <wsdl:message name="ITarjetaService_EsValidaTarjeta_OutputMessage">
    <wsdl:part name="parameters" element="tns:EsValidaTarjetaResponse" />
  </wsdl:message>
  <wsdl:message name="ITarjetaService_HayFondoParaSustraer_InputMessage">
    <wsdl:part name="parameters" element="tns:HayFondoParaSustraer" />
  </wsdl:message>
  <wsdl:message name="ITarjetaService_HayFondoParaSustraer_OutputMessage">
    <wsdl:part name="parameters" element="tns:HayFondoParaSustraerResponse" />
  </wsdl:message>
  <wsdl:message name="ITarjetaService_AgregarFondo_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarFondo" />
  </wsdl:message>
  <wsdl:message name="ITarjetaService_AgregarFondo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarFondoResponse" />
  </wsdl:message>
  <wsdl:message name="ITarjetaService_SustraerFondo_InputMessage">
    <wsdl:part name="parameters" element="tns:SustraerFondo" />
  </wsdl:message>
  <wsdl:message name="ITarjetaService_SustraerFondo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SustraerFondoResponse" />
  </wsdl:message>
  <wsdl:portType name="ITarjetaService">
    <wsdl:operation name="ExisteTarjeta">
      <wsdl:input wsaw:Action="http://tempuri.org/ITarjetaService/ExisteTarjeta" message="tns:ITarjetaService_ExisteTarjeta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITarjetaService/ExisteTarjetaResponse" message="tns:ITarjetaService_ExisteTarjeta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EsValidaTarjeta">
      <wsdl:input wsaw:Action="http://tempuri.org/ITarjetaService/EsValidaTarjeta" message="tns:ITarjetaService_EsValidaTarjeta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITarjetaService/EsValidaTarjetaResponse" message="tns:ITarjetaService_EsValidaTarjeta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HayFondoParaSustraer">
      <wsdl:input wsaw:Action="http://tempuri.org/ITarjetaService/HayFondoParaSustraer" message="tns:ITarjetaService_HayFondoParaSustraer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITarjetaService/HayFondoParaSustraerResponse" message="tns:ITarjetaService_HayFondoParaSustraer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarFondo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITarjetaService/AgregarFondo" message="tns:ITarjetaService_AgregarFondo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITarjetaService/AgregarFondoResponse" message="tns:ITarjetaService_AgregarFondo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SustraerFondo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITarjetaService/SustraerFondo" message="tns:ITarjetaService_SustraerFondo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITarjetaService/SustraerFondoResponse" message="tns:ITarjetaService_SustraerFondo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITarjetaService" type="tns:ITarjetaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExisteTarjeta">
      <soap:operation soapAction="http://tempuri.org/ITarjetaService/ExisteTarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsValidaTarjeta">
      <soap:operation soapAction="http://tempuri.org/ITarjetaService/EsValidaTarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HayFondoParaSustraer">
      <soap:operation soapAction="http://tempuri.org/ITarjetaService/HayFondoParaSustraer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarFondo">
      <soap:operation soapAction="http://tempuri.org/ITarjetaService/AgregarFondo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SustraerFondo">
      <soap:operation soapAction="http://tempuri.org/ITarjetaService/SustraerFondo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TarjetaService">
    <wsdl:port name="BasicHttpBinding_ITarjetaService" binding="tns:BasicHttpBinding_ITarjetaService">
      <soap:address location="http://localhost:49799/TarjetaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>