WebPrueba/Connected Services/TarjetaServiceReference/TarjetaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExisteTarjeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NroTarjeta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteTarjetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteTarjetaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsValidaTarjeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NroTarjeta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codigoSeguridad" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsValidaTarjetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EsValidaTarjetaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HayFondoParaSustraer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NroTarjeta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Monto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HayFondoParaSustraerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HayFondoParaSustraerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarFondo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NroTarjeta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Monto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarFondoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SustraerFondo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NroTarjeta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Monto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SustraerFondoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>